<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置好命名空间 -->
<mapper namespace="com.cw.oes.pojo.mapping.TestPaperMapper">

	<resultMap type="TestPaper" id="testPaper">

	  <id property="unid" column="unid" />
	  <result property="paperTitle" column="paper_title" />
	  <result property="paperType" column="paper_type" />
	  <result property="paperSerialNum" column="paper_serial_num" />
	  <result property="paperQuestionNum" column="paper_question_num" />
	  <result property="paperTotalPoint" column="paper_total_point" />
	  <result property="paperDifficulty" column="paper_difficulty" />
	  <result property="paperFinishedTime" column="paper_finished_time" />
	  <result property="paperEditTime" column="paperEdit_time" />
	   <result property="paperCreateTime" column="paperCreate_time" />
	  
	 </resultMap>
	
	<!-- sql语句是针对表的操作，而resultMap说明了表和pojo的映射关系 --> 	
 	<select id="getAllTestPaper" resultMap="testPaper">
	  select
	  * from
	  test_paper_tab;
 	</select>
 	
 	
 	
 	<select id="getOneTestPaper" parameterType="String" resultMap="testPaper">
	  select
	  * from
	  member_tab
	  where unid = #{unid} ;
 	</select>
 	
 	<select id="getMembersPaper" parameterType="java.util.Map" resultMap="testPaper">
	  select
	  * from 
	  test_paper_tab 
	  left join result_tab RT on RT.user_pid = #{userPid} and RT.test_paper_pid = #{testPaperPid} 
	  where unid = RT.test_paper_pid  ;
 	</select>
 	
 	<insert id="addResult" parameterType="java.util.Map">
 	insert into result_tab (unid,user_pid,test_paper_pid)   
 	values(
 	'${unid}',
 	'${userPid}',
 	'${testPaperPid}'
 	
 	);
 	
 	</insert>
 	<update id="begin" parameterType="java.util.Map">
 	update result_tab 
 	set begin_time = now() 
 	where user_pid = '${userPid}' and test_paper_pid = '${testPaperPid}';
 	</update>
 
 	


</mapper>