@CHARSET "UTF-8";

body{
	
	font-family: 微软雅黑;
}
/* 个人主页 */

.personal-contianer{
	min-height: 600px;
}
.personal-panel{
	margin-top:20px;
}
.personal-tab{
	
}
.personal-tab a{
	color: #8E959C;
}
.personal-like-table{
	
}
.personal-star-td{
	text-align: center;
}
.personal-star-td a{
	color:black;
}
.personal-like-label{
	margin: 5px;
}

.hidden{
	visibility: hidden;
}
.show{
	visibility:visible;
}
.no-more-record{
	font-size: 15px;
	color: #949495;
	text-align: center;
}
.error-well{
	border: solid 1px #D04437;
	background-color: white;
	margin: 10px 10px 10px 10px;
}
.panel-menu-group{
	float:right;
}
.panel-menu-group button{
	padding:5px 5px;
}


.remove-record-btn span{
	color:#D04437 ;
}
.personal-like-table tr{
	text-align: center;
}
/* 个人测试页面 */



/* 登录窗体 */
.login-container{
	
	min-height: 400px;
}
.login-head{
	color: #E9E6E6;
	background-color: #2A1E1E;
	border-color: #0E0D0D;	
	
	
}
/* 字体图标 */


@font-face {font-family: 'iconfont';

    src: url('iconfont.eot'); /* IE9*/

    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */

    url('iconfont.woff') format('woff'), /* chrome、firefox */

    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */

}

.iconfont{font-family:"iconfont";

font-size:16px;font-style:normal;}



/* navBar 部分 */
.userIcon{ font-size: 17px; z-index: 1;}/* 设置用户图标在 消息数量徽章下一层，和图标大小 */
.messageBag{z-index:2; margin-left:-8px;margin-top:-20px;font-size: 8px; -webkit-transform: scale(0.7); -webkit-transform-origin-x: 0;}
.textBadgeAlign{margin-bottom:4px; margin-left:5px; }

/* footer 部分 */
.footer{
	background-color:#222;
	padding-top:80px; 
	
}

.footer-link{
	color:#6F7E82;
	
}
.footer-link h3{
font-size: 25px;
margin-bottom:30px;
	
}

.link-list{
	list-style: outside none none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    
    line-height: 19px;
	padding-left: 0px;
}
.link-list li{
	
	margin-bottom: 10px;
}
.link-list a{
	
	text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.link-list a:HOVER{
	color:#02DED;
}
.copyright{
	font-size: 12px;text-align: center; color: #6F7E82;
}
.copyrightRow{
	margin-top:50px;
	margin-bottom:20px;
}

.footer-icon{
	
	font-size: 16px;margin-right: 13px;
}

/* 测验页面  */
.exam-container{
	padding-top:30px;
}
.exam-topics-div .row div{
	margin-top: 10px;
	padding-top: 10xp;
}
.answer{
	font-size: 15px;
	
}
.exam-time{
	text-align: center;
}
.exam-topic-error{
	text-align: center;
}
/**测验结果页面 **/
.exam-record-header{height: 150px;
position: fixed;
width: 100%;
background: #FFF none repeat scroll 0% 0%;
z-index: 100;
margin-top: -20px;}
.exam-record-contianer{min-height: 600px;margin-top: 150px;margin-bottom: 20px;}
.exam-record-title{height: 100px;background-color: #F5F5F5;border-bottom: solid 1px #999999;}
.record-note{margin-top: 15px;}
.textarea-note{visibility: hidden;}
.record-options{font-size: 20px;}
.options-correct{margin-right:5px;color: green;}
.options-error{margin-right:5px;color: red;}
.options-empty{margin-right:5px;color:gray;}
.options-content{word-wrap: break-word;}
.content-correct{color: green;font-weight: bold;}
.content-error{color: red;font-weight: bold;}
.menu-bar{margin-top: 10px;
box-shadow:0 10px 15px white;
-moz-box-shadow:0 10px 15px white;
-webkit-box-shadow:0 10px 15px white;}
/* 笔记编辑框 当没有编辑时 */
.redactor_box_nofocus{
	border: none;
}
.redactor_box_nofocus ul{
	display: none;
}

.save-message{
	position: fixed;
	right: 20px;
	bottom:100px;
	font-size: 20px;
	background-color: #337AB7;
	width: 75px;
	height: 35px;
	padding: 7px 10px;
	-webkit-border-radius: 10px;
	color:white;
    border-radius: 10px;
}
.save-message p{
	display: inline;
	font-size:15px;
	margin: 5px 0px 0px 5px;
}
/** 账号设置 **/
.count-setting-container{
	min-height: 500px;
}
.panel-gray{
	border: solid  1px #D8D8D8;
}
.panel-gray .panel-heading{
	background-color: #F5F5F5;
	border-bottom: solid  1px #D8D8D8;
}
.email-input{
	width: 300px;
}
.img-input{
	width: 100px;
	border: 1px solid #D8D8D8;
}
.setting-form-group{
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn-chnImg{
	
}
.chnImg-info{
	margin-top: 20px;
	font-size: 15px;
	color: #949495;
	
}
#img-path{
	margin-top: -22px;filter: alpha(opacity=0);-moz-opacity: 0;opacity: 0;;cursor:pointer;-moz-opacity:0;width: 82px;height: 35px;z-index: 9999;
}
/* 图片剪裁模态窗 */
#crop-img img{
	width: 100%;
	height: 500px;
	
}

#preView-img{
	width: 160px;
	height: 160px;
	float: none;
	border: 1px solid #EEE;
	border-radius: 4px;
	background-color: #FFF;
	overflow: hidden;
}
.crop-tips{
	font-size: 14px;
	margin-top: 30px;
	width: 200px;
	margin-left: 30px;
}
.crop-tips-sign{
	font-size: 25px;
	margin-right: 5px;
	color: #808080;
	margin-left: -30px;
}
/** 引用css **/
img.loadding{  
	 margin-left: 60px;
	width: 20px;
	margin-top: 6px;
}
button.loading{/* 更改图像按钮css */
	float: left;
	margin-right: -90px;
	padding-right: 40px;
}
/** 注册页面  **/
.register-info{padding: 5px 0 0 20px;
}
.register-info .glyphicon{
color:#4E7EA6;#B3BFCE
}
.register-info p{
color:#B3BFCE;font-size: 13px;
}
.clear{clear: both;}