<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cw.oes.mybatis.dao.PaperMapper" >
  <resultMap id="BaseResultMap" type="com.cw.oes.mybatis.model.Paper" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
    <result column="topic_num" property="topicNum" jdbcType="INTEGER" />
    <result column="total_point" property="totalPoint" jdbcType="INTEGER" />
    <result column="difficulty" property="difficulty" jdbcType="VARCHAR" />
    <result column="finished_time" property="finishedTime" jdbcType="INTEGER" />
    <result column="edit_time" property="editTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, title, type, serial_num, topic_num, total_point, difficulty, finished_time, 
    edit_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from paper
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from paper
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cw.oes.mybatis.model.Paper" >
    insert into paper (uuid, title, type, 
      serial_num, topic_num, total_point, 
      difficulty, finished_time, edit_time, 
      create_time)
    values (#{uuid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{serialNum,jdbcType=VARCHAR}, #{topicNum,jdbcType=INTEGER}, #{totalPoint,jdbcType=INTEGER}, 
      #{difficulty,jdbcType=VARCHAR}, #{finishedTime,jdbcType=INTEGER}, #{editTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cw.oes.mybatis.model.Paper" >
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="serialNum != null" >
        serial_num,
      </if>
      <if test="topicNum != null" >
        topic_num,
      </if>
      <if test="totalPoint != null" >
        total_point,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="finishedTime != null" >
        finished_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null" >
        #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="topicNum != null" >
        #{topicNum,jdbcType=INTEGER},
      </if>
      <if test="totalPoint != null" >
        #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=VARCHAR},
      </if>
      <if test="finishedTime != null" >
        #{finishedTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cw.oes.mybatis.model.Paper" >
    update paper
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="serialNum != null" >
        serial_num = #{serialNum,jdbcType=VARCHAR},
      </if>
      <if test="topicNum != null" >
        topic_num = #{topicNum,jdbcType=INTEGER},
      </if>
      <if test="totalPoint != null" >
        total_point = #{totalPoint,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=VARCHAR},
      </if>
      <if test="finishedTime != null" >
        finished_time = #{finishedTime,jdbcType=INTEGER},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cw.oes.mybatis.model.Paper" >
    update paper
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      serial_num = #{serialNum,jdbcType=VARCHAR},
      topic_num = #{topicNum,jdbcType=INTEGER},
      total_point = #{totalPoint,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=VARCHAR},
      finished_time = #{finishedTime,jdbcType=INTEGER},
      edit_time = #{editTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>